---
name: Pull Request Labeler
on:
  # pull_request_target:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      # - assigned
      # - edited
      # - labeled
      # - unlabeled

jobs:
  labeler:
    name: Labeler
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
      - name: Add labels to pull request
        uses: actions/labeler@v5
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
